.Footer {
	width: 100%;
	/* position: relative; */
	margin-top: 200px;
	padding: 40px 0 20px 20px;
	background-color: #1d1d1d;
	/* margin-top: 20rem; */
}
.Footer img{
	width: 69px;
    height: 60px;
    top: 54px;
    left: 110px;
}
.Footer h3 {
	font-weight: 700;
	font-family: cursive;
	letter-spacing: 2px;
	padding: 0.5rem 0.5rem;
	color: white;
}

.ft-1 p {
	color: white;
	padding: 0rem 5rem 0.6rem 0;
	font-weight: 500;
}

.footerIcons i {
	padding: 0.2rem 0.5rem 0.4rem 0.5rem;
	/* background: #e1e1e1; */
	fill: whitesmoke;
	margin: 0 0.5rem;
	border-radius: 50%;
}

.footerIcons i:hover {
	background: #6da287;
	fill: #fff;
	transition: 0.6s;
	cursor: pointer;
}

.Footer h5 {
	color: #6da287;
}

.ft-2 ul {
	list-style: none;
	padding-left: 0;
}

.ft-2 ul li {
	padding: 0.35rem 0;
	font-weight: 500;
}

.ft-2 ul a {
	text-decoration: none;
	color: white;
	font-size: 1.06rem;
}

.ft-3 a {
	color: white;
}

.ft-3 p {
	color: white;
	font-weight: 500;
	padding: 0.1rem 0;
	font-size: 1.06rem;
}

.ft-3 i {
	fill: white;
	padding-right: 0.5rem;
}

