@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat/Montserrat-Black.ttf') format('ttf'),
		 url('assets/fonts/Montserrat/Montserrat-Light.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf') format('ttf'),
		 url('assets/fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("ttf"),
		 url("assets/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
	font-weight: bolder;
	font-style: normal;
}

body {
	font-family: 'Montserrat', sans-serif;
}
