
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');
body.register-page{
    background-color: white;
    /* font-family: ; */
}

.alrdyregis{
  color:#232323;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 100;
  padding-left: 20px;
  opacity: 70%;
  font-weight: bold;
  margin: 0;
  /* font-family: poppins; */
}
.login{
  color: #232323;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  /* font-family: poppins; */
  position: relative;
  top: -20px;
  margin-top: 0px;
  padding-left: 20px;
}
.Registersty{
    color: #232323;
    /* font-size: xx-large; */
    font-weight: 700;
    font-size: 40px;
    padding-left: 25px;
    position: relative;
    top: 20px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: poppins; */
    margin-top: 9px;
}
.msgbox{
    color: #232323;
    padding-left: 25px;
}
.register{
  max-width: 1800px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 33px;
  box-shadow: 1px 3px 10px #686767;
  background-color: white;
  justify-content: center;
  /* margin-left: 100px; */
  /* border: 2px solid green; */
  padding: auto;
  display: flex;

  /* position: relative; */
}
#form{
  max-width: 450px;
  width: 90vw;
  margin: 2em auto;
}

#form >  input{
  border: 1px solid #00000021;
  padding: .9em 1em;
  border-radius: 2px;
  margin-left: 20px;
  margin-right: 10px;
  height:49px;
  color: #000000;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}
#form > input:focus{
  outline: none;
}

/* #form #input::placeholder{
  color: #000000;
  font-weight: bold;
} */

#form > .bttn{
  background-color:#232323;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer;
  border-radius: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-right: -20px;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
}
.flex{
  display: flex;
  /* border: 2px solid red; */

  gap: 1em;
}
.flex-col{
  flex-direction: column;
  /* max-width: fit-content; */
  /* border: 2px solid rgba(0, 255, 229, 0.228); */
  /* max-height: 400px; */
  /* padding: 15px; */
  padding-left: 15 px;
  padding-right: 15px;
  /* padding-bottom: 40px; */
  /* margin-bottom: 20px; */
  max-width: 100px;
}
.fields{
  color: #232323;
}

.register .row-1{
  /* margin: auto; */
  /* max-width: 576px; */
  /* border: 2px solid hotpink; */
  /* padding: 3em 0; */
  /* padding-top: 20px; */
  /* padding: auto; */
  /* margin-left: 50px; */
  /* margin-right: 10px; */
  padding-right: 20px;
}
.mid-section{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    padding-top: 30px;
	margin: 20px;
	margin-bottom: 25px;
	/* border-radius: 33px; */
}

.register {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.register .row-2 img{
  /* max-width: 400px; */
  object-fit: cover;
  align-self: flex-end;
  border-radius: 33px 33px 0px 0px;
  /* border-bottom-right-radius: 5px; */
  width: 100%;
  /* display: none; */
}
@media screen and (min-width: 911px)  {
	.register {
		flex-direction: row;
	}

  .register .row-2 img{
	border-radius: 0px 33px 33px 0px;
	width: unset;
  height: max(50vw, 665px);
  display: initial;
    /* max-width: 200px; */
  }

  #form {
	max-width: 300px;
  }
}



.btnfg{
  height:5vh;
  float: right;
  color: #232222;
  text-decoration: underline;
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}