body {
  background-image: url("https://drive.google.com/uc?export=view&id=1b_-DVr7g8a2i2yQUd-mwHHft49DhqBd9");
  /* background-repeat: repeat-x; */
  background-attachment: fixed;
  /* background-color: #232323; */
}
/* 1280x309 */
.headBG {
  margin-top: 5%;
  height: 309px;
  width: 100%;
  /* margin-left: 11%; */
  background-image: url("https://drive.google.com/uc?export=view&id=1Y5G-ttxJw4Eqh9RXGI15jR0Os2LxOOBX");
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  /* color: rgb(157, 229, 22);
  font-weight: bold;
  text-align: center;
  font-size: 5rem; */
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
h2 {
  color: rgb(157, 229, 22);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 100px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 75px;
  padding-bottom: 100px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(157, 229, 22);
  padding-bottom: 25px;
  border-radius: 15px;
}
.img-wrapper {
  position: relative;
  overflow: hidden;
  height: 250px;
}
.img-wrapper > img {
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.img-wrapper > .content {
  position: absolute;
  inset: 0;
  padding: 15px;
  background-color: rgba(157, 229, 22, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper > img,
.img-wrapper > .content {
  transition: 500ms ease-in-out;
}
.card:hover > .img-wrapper .content {
  transform: translateX(0);
}
/*.img-wrapper > .content {
  transform: translateY(100%);
} */
.card > .img-wrapper .content {
  transform: translateY(100%);
}
.card:hover > .blur {
  filter: blur(5px);
}
.card:hover > .img-wrapper .gray {
  filter: grayscale();
}
.image {
  height: 300px;
  width: auto;
  /* border: 25px solid aquamarine; */
  /* border-radius: 15px; */
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(157, 229, 22, 0.6);
}
.card:hover > .title {
  text-shadow: 2px 2px 5px rgb(26, 180, 180);
}
.social-content {
  margin: 15px;
  height: 25px;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  padding-top: 15px;
  width: 250px;
  text-align: center;
}
