.heroSection {
	margin-top: 60px;
	width: 100%;
	margin-bottom: 50px;
}

.heroSection img {
	width: 100%;
	transition: all 1s ease;
}

@media screen and (min-width: 801px) {
	.heroSection img {
		transform: translateY(-60px);
	}

	.heroSection img:hover {
		transform: translateY(0%);
	}
}
