.heroSection {
	width: 100%;
	margin-bottom: 50px;
}

.heroSection img {
	width: 100%;
}

@media screen and (min-width: 801px) {
	.heroSection img {
		transition: all 1s;
		transform: translateY(-10%);
	}

	.heroSection img:hover {
		transform: translateY(0%);
	}
}
