@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600,700&display=swap");

.landing_background_verdant {
	background-image: url("../assets/img/LandingPageHeroBg.webp");
	background-size: contain;
	background-repeat: no-repeat;
}

.landing_hero {
	position: relative;
	top: 10.390625vw;
	left: 50%;
	width: 47.265625vw;
	height: auto;
}

.landing_title {
	position: absolute;
	left: 5.234375vw;
	top: 19vw;
	font-family: "Montserrat";
}

.landing_title h1 {
	color: white;
	text-align: left;
	font-size: 67.224px;
	letter-spacing: -1.158px;
	font-weight: 700;
}

.landing_title h2 {
	font-size: 20.524px;
	font-weight: 600;
}

.landing_register {
	display: inline-block;
	width: fit-content;
	padding: 12px 20px;
	border: 2px solid white;
	background-color: white;
	color: black;
	border-radius: 16px;
	font-size: 16px;
	margin-right: 20px;
	font-weight: 600;
}

.landing_login {
	display: inline-block;
	width: fit-content;
	padding: 12px 20px;
	border: 2px solid white;
	color: white;
	border-radius: 16px;
	font-size: 16px;
	font-weight: 600;
}

.landing_register:hover, .landing_login:hover {
	color: white;
	background-color: transparent;
	transition: all 0.5s ease;
	transform: translateY(-5px);
}